
.she{
    text-align: center;
color: wheat;
font-family:cursive ;
font-size: 67px;
font-weight: bolder;
}
body{
   background: brown;

}


.sher{
   font-size: 30px;
font-weight: bold;
font-family: cursive;

}

.shey{

    font-family:"Century Schoolbook L";




}


